<!DOCTYPE html>
<html ng-app="demoApp">

<head>
	<meta charset="UTF-8">
	<title>FUI - Element</title>
	<link rel="stylesheet" href="../dist/angular-fui.css">
	<style>
		p { margin: 10px; }
	</style>
</head>

<body ng-controller="Ctrl as ctrl">

	<p>
		偏小：
		<input class="small">
		<button class="small">默认</button>
		<button class="small primary">确定</button>
		<button class="small danger">删除</button>
		<button class="small" disabled>禁用</button>
		<radio-group class="small">
			<radio>文本选项</radio>
			<radio>文本选项</radio>
		</radio-group>
		<radio class="small">文本选项</radio>
		<checkbox class="small">文本选项</checkbox>
	</p>
	<p>
		默认：
		<input>
		<button>默认</button>
		<button class="primary">确定</button>
		<button class="danger">删除</button>
		<button disabled>禁用</button>
		<radio-group>
			<radio>文本选项</radio>
			<radio>文本选项</radio>
		</radio-group>
		<radio>文本选项</radio>
		<checkbox>文本选项</checkbox>
	</p>
	<p>
		偏大：
		<input class="big">
		<button class="big">默认</button>
		<button class="big primary">确定</button>
		<button class="big danger">删除</button>
		<button class="big" disabled>禁用</button>
		<radio-group class="big">
			<radio>文本选项</radio>
			<radio>文本选项</radio>
		</radio-group>
		<radio class="big">文本选项</radio>
		<checkbox class="big">文本选项</checkbox>
	</p>
	<p>
		多选：
		<checkbox></checkbox>
		<checkbox disabled></checkbox>
		<checkbox checked></checkbox>
		<checkbox checked disabled></checkbox>
		<checkbox>文本选项</checkbox>
		<checkbox disabled>文本选项</checkbox>
		<checkbox checked>文本选项</checkbox>
		<checkbox checked disabled>文本选项</checkbox>
	</p>
	<p>
		单选：
		<radio></radio>
		<radio disabled></radio>
		<radio checked></radio>
		<radio checked disabled></radio>
		<radio>文本选项</radio>
		<radio disabled>文本选项</radio>
		<radio checked>文本选项</radio>
		<radio checked disabled>文本选项</radio>
	</p>
	<p ng-model="ctrl.radioValue">
		可以取消：
		<radio ng-repeat="item in ctrl.options" ng-value="item">选项{{item}}</radio>
	</p>
	<p ng-model="ctrl.radioValue" required>
		不可取消：
		<radio ng-repeat="item in ctrl.options" ng-value="item">选项{{item}}</radio>
	</p>
	<p>条状单选：
		<radio-group ng-model="ctrl.group">
			<radio>A1</radio>
			<radio>A2</radio>
			<radio>A3</radio>
			<radio disabled>A4</radio>
		</radio-group>
		<radio-group ng-model="ctrl.group2" style="width:400px">
			<radio>B1</radio>
			<radio>B2</radio>
			<radio>B3</radio>
		</radio-group>
	</p>

	<script src="../lib/jquery.js"></script>
	<script src="../lib/angular.js"></script>
	<script src="../lib/angular-animate.js"></script>
	<script src="../dist/angular-fui.js"></script>
	<script>
		angular.module('demoApp', ['ngAnimate', 'fui']).controller('Ctrl', function() {
			this.options = [1, 2, 3, 4];
		});
	</script>

</body>

</html>
